body{
  font-family: Arial;

}
.todo-grid{
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.input-grid{
  margin-bottom: 10px;
  align-items: stretch;
}
.js-input,
.Js-dueDate-input{
 font-size: 15px;
 padding: 6px;
}
.addBtn{
  background-color: green;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.deleteBtn{
  background-color: darkred;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding: 10px;
}